
:root{
    --blue-color: #51DDF0;
    --button-color: #4E9FDA;
    --dark-blue: #3687C2;
    --grey: #F6F6F6;
    --dark-grey: #a9a9a980;
    --text-color: #505050;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    outline: none;
    background: var(--blue-color);
}

.form__section{
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form__container{
    width: 500px;
    border-radius: 0 0 10px 10px;
    padding: 10px;
    background: #fff;
    box-shadow: 0px 4px 14px 6px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
}

.form__container .hero__name{
    background: var(--grey);
    border: 1px solid var(--dark-grey);
    border-right: 0;
    border-radius: 0px 0px 0px 12px;
    outline: none;
    padding: 8px 10px;
}
.form__container .hero__universe{
    background: var(--grey);
    border: 1px solid var(--dark-grey);
    border-right: 0;
    color: var(--text-color);
    outline: none;
    padding: 8px 10px;
}